<container>
    <row>
        <columns>
            <row class="footer-top">
                <columns>
                    <hr>
                    <h5>
                        Customer Support
                    </h5>
                    <p>Your Satisfaction is our #1 Priority. Please tell us about your recent shopping experience: <a href="#" alt="#">www.microcenter.com/survey</a>
                    </p>
                    <p>Return Policy: <a href="#" alt="#">www.microcenter.com/site/customer-support/return-policy.aspx</a>
                    </p>
                    <p>Rebate Information: <a href="#" alt="#">www.microcenter.com/site/rebate-center/default.aspx</a>
                    </p>
                    <p>Privacy Policy: <a href="#" alt="#">www.microcenter.com/site/customer-support/privacy_policy.aspx</a>
                    </p>
                    <p>Micro Center Technical Support: <a href="#" alt="#">www.microcenter.com/site/content/tech-support.aspx</a>
                    </p>
                    <p>Live Technical Support Chat: <a href="#" alt="#">www.microcenter.com/site/content/tech-support.aspx#contact</a>
                    </p>
                    
                </columns>
            </row>
        </columns>
    </row>
    <row class="footer-bottom">
        <columns>
            <row>
                <hr>
                <columns large="8">
                    <h5 class="small-text-center">
                        <a>
                            Sign up for special offers!
                        </a>
                    </h5>
                    <p class="small-text-center">
                        As an email subscriber, you'll have premier access to our best offers, exclusive deals and more
                    </p>
                </columns>
                <!-- social media icons for large -->
                <columns class="show-for-large social-media float-right" large="4" valign="middle">
                    <columns valign="middle" large="3">
                        <a href="#" alt="#">
                            <img class="facebook" src="../assets/img/Facebook logo.png" alt="#">
                        </a>
                    </columns>
                    <columns valign="middle" large="3">
                        <a href="#" alt="#">
                            <img class="twitter" src="../assets/img/twitter_logo_volt.png" alt="#">
                        </a>
                    </columns>
                    <columns valign="middle" large="6">
                        <a href="#" alt="#">
                            <img class="youtube" src="../assets/img/youtube-logo.png" alt="#">
                        </a>
                    </columns>
                </columns>
            </row>
        </columns>
    </row>
    <row>            
        <!-- social media icons for mobile -->
        <columns class="mobile-icons hide-for-large">
            <row >
                <columns small="3"></columns>
                <columns small="6">
                    <columns valign="middle" small="4">
                        <a href="#" alt="#">
                            <img class="facebook" src="https://i.imgur.com/ac5m2Vv.png" alt="#">
                        </a>
                    </columns>
                    <columns valign="middle" small="4">
                        <a href="#" alt="#">
                            <img class="twitter" src="https://i.imgur.com/DWjjORo.png" alt="#">
                        </a>
                    </columns>
                    <columns valign="middle" small="4">
                        <a href="#" alt="#">
                            <img class="youtube" src="https://i.imgur.com/8yEFc3F.png" alt="#">
                        </a>
                    </columns>
                </columns>
                <columns small="3"></columns>
            </row>
        </columns>
    </row>
</container>