<container>
    <row>
        <columns class="header-top">
            <row>
                <columns small="4" large="3">
                    <a href="#">
                        <img class="header-logo" src="../assets/img/unnamed.gif" alt="#">
                    </a>
                </columns>
                <columns  small="8" large="9">
                    <h4 class="small-text-right">
                        Thank you for shopping with us!
                    </h4>
                </columns>
            </row>
        </columns>
    </row>
    <row>
        <columns>
            <row>
                <columns class="header-mid">
                    <p>
                        We hope your shopping experience exceeded all expectations and want to assure you that we're committed to your satisfaction. Below you'll find the details of your transaction, as well as the links you can use to find answers or get help with your new purchase.
                    </p>
                    <p>
                        Be sure and keep a copy of this email in case you need it in the future.
                    </p>
                </columns>
            </row>
        </columns>
    </row> 
    <row>
        <columns>
            <row class="header-bottom">
                <columns  small="6" large="8" valign="middle">
                    <p class="small-text-center">
                        <a href="#">Create your online account now</a> and get Insider Treatment.
                    </p>
                </columns>
                <columns small="6" large="4">
                    <a href="#">
                        <img class="float-right" src="../assets/img/insider.jpg" alt="#">
                    </a>
                </columns>
            </row>
        </columns>
    </row>
</container> 