<container>
    <row>
        <columns large="12" class="footer-top show-for-large">
            <row>
                <columns>
                    <h4 class="text-center">
                        *<span>See full details of all deals.</span> Some restrictions apply.
                        <a href="#">
                            <h6 class="button">
                                Offer Details
                            </h6>
                        </a>
                    </h4>
                </columns>
            </row>
        </columns>
        <columns class="mobile-footer-top hide-for-large">
            <row>
                <columns>
                    <h4 class="text-center">
                        *<span>See full details of all deals.</span> Some restrictions apply.
                        <a href="#">
                            <h6 class="button">
                                Offer Details
                            </h6>
                        </a>
                    </h4>
                </columns>
            </row>
        </columns>
    </row>
    <row>
        <columns class="footer-options">
            <row>
                <columns large="1" class="show-for-large">
                    <a href="#">
                        <p class="text-center">
                            Clothing
                        </p>
                    </a>
                </columns>
                <columns large="1" class="show-for-large">
                    <a href="#">
                        <p class="text-center">
                            Shoes
                        </p>
                    </a>
                </columns>
                <columns large="1" class="show-for-large">
                    <a href="#">
                        <p class="text-center">
                            Home
                        </p>
                    </a>
                </columns>
                <columns large="1" class="show-for-large">
                    <a href="#">
                        <p class="text-center">
                            Electronics
                        </p>
                    </a>
                </columns>
                <columns large="1" class="show-for-large">
                    <a href="#">
                        <p class="text-center">
                            Toys
                        </p>
                    </a>
                </columns>
                <columns small="4" large="1">
                    <a href="#">
                        <p class="find-store text-center">
                            Find a store
                        </p>
                    </a>
                </columns>
                <columns small="4" large="1">
                    <a href="#">
                        <p class="text-center">
                            Help
                        </p>
                    </a>
                </columns>
                <columns small="4" large="1">
                    <a href="#">
                        <p class="text-center">
                            Privacy
                        </p>
                    </a>
                </columns>
            </row>
        </columns>
    </row>
    <row>
        <columns class="footer-fineprint">
            <row>
                <columns>
                    <h6 class="small-text-center">
                        Okay, so here's the fine print:
                    </h6>
                    <p>
                        Promotions valid Sunday–Saturday unless otherwise stated. Pricing, promotions, and availability may vary by location and online. Descriptive, typographic and photographic errors are subject to correction and Target shall have no liability for such errors.
                    </p>
                    <p>
                        REDcard	&trade;: Target Debit Card	&trade;, Target Credit Card	&trade;, and Target	&trade; Mastercard&copy;. Subject to application approval (Target Mastercard not available to new applicants). The REDcard credit cards (Target Credit Card and Target Mastercard) are issued by TD Bank USA, N.A. The REDcard debit card is issued by Target Corporation. Mastercard is a registered trademark of Mastercard International, Inc. Pat 7,562,048 and 8,117,118.
                    </p>
                    <p>
                        For messages containing promotional codes: Discount applied at checkout with valid promotion code. Discount not applicable to gift wrap, tax or
                        shipping and handling charges. May not be applied to previous orders. Exclusions may apply. <a href="#" alt="#">Offer details</a>.
                    </p>
                    <p>
                        For messages containing gift card offers: Gift card on select items with purchase. Terms and conditions apply to gift cards. <a href="#" alt="#">Offer details</a>.
                    </p>
                    <p>
                        &copy;2019 Target.com. Target and the Bullseye Design are registered trademarks of Target Brands, Inc.
                    </p>
                </columns>
            </row>
        </columns>
    </row>
    <row>
        <columns class="preference">
            <row>
                <columns>
                    <h6 class="my-pref small-text-center">
                        My Preferences:
                    </h6>
                </columns>
            </row>
            <row>
                <columns small="6" large="4" class="unsub-block">
                    <a href="#">
                        <h6 class="unsub-text">
                            Unsubscribe
                        </h6>
                        <p>
                            If you no longer wish to receive our commercial email advertisements, simply unsubscribe.
                        </p>
                    </a>
                </columns>
                <columns small="6" large="4" class="sub-block">
                    <a href="">
                        <h6 class="sub-text">
                            Subscribe
                        </h6>
                        <p>
                            Was this email forwarded to you? sign up to get them straight from the source.
                        </p>
                    </a>
                </columns>
                <columns large="4" class="show-for-large">
                    <!-- empty column -->
                    <!-- empty column -->
                    <!-- empty column -->
                </columns>
            </row>
        </columns>
    </row>
    <row>
        <columns class="contact">
            <row>
                <columns>
                    <h6 class="small-text-center">
                        Contact Us:
                    </h6>
                </columns>
            </row>
            <row>
                <p>
                    We can't respond to emails sent to this address, but you can get in touch through our <a href="#">contact us</a> page or by writing to:
                    <br>
                    <span>
                        Target Guest Relations, Mail Stop NCB-0310, P.O. Box 9350, Minneapolis, MN 55440-9350.
                    </span>
                </p>
            </row>
        </columns>
    </row>
</container>