<container>
    <row>
        <columns class="header-logo">
            <row>
                <columns>
                    <a href="#">
                        <center>
                            <img src="https://i.imgur.com/hisMOx8.png" alt="#">
                        </center>
                    </a>
                </columns>
            </row>
        </columns>
    </row>
    <row>
        <columns class="header-menu">
            <row>
                <columns small="4">
                    <a href="#">
                        <p class="clearance text-right">
                            Clearance
                        </p>
                    </a>
                </columns>
                <columns small="4">
                    <a href="#">
                        <p class="home text-center">
                            Home
                        </p>
                    </a>
                </columns>
                <columns small="4">
                    <a href="#">
                        <p class="clothing text-left">
                            Clothing
                        </p>
                    </a>
                </columns>
            </row>
        </columns>
    </row>
</container>